---
import "./main.css";
import Dieghoatc from "../../assets/dieghoatc.png";
---

<div class="main-profile-container">
  <div class="photo-profile">
    <div class="photo-wrapper">
      <img class="image-dieghoatc" src={Dieghoatc} alt="dieghoatc" />
      <p class="photo-description">@Dieghoatc - 2023 Australian Grand Prix</p>
    </div>
  </div>
  <div class="description-profile">
    <h1>SOFTWARE</h1>
    <h3>DEVELOPER</h3>
    <p>
      Welcome to my website, I'm
      <b class="gold-color">Diego Armando</b>, I'm focused on improving
      responsive graphical interfaces and providing solutions by understanding
      user behavior.
    </p>
  </div>
</div>
