.main-profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  /* border: 1px solid white; */
  margin-bottom: 30px;
}

.photo-profile {
  grid-column: 1;
  position: relative;
}

.image-dieghoatc {
  display: none;
}

/* width: 100%;
    transform: rotate(-10deg);
    border-radius: 15px;
    position: absolute;
    top: 130px;
    left: 123px; */

@media (min-width: 768px) {
  .image-dieghoatc {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 73px;
    left: 65px;
    border-radius: 15px;
  }

  .photo-profile:after {
    position: absolute;
    content: "";
    top: 70px;
    left: 54px;
    z-index: -1;
    height: 157px;
    width: 280px;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(5vw);
    background: linear-gradient(270deg, #171817, #ffdd01);
    background-size: 200% 200%;
  }
}

@media (min-width: 1024) {
}

.description-profile {
  grid-column: 2;
  text-align: end;
  z-index: 2;
}

h1 {
  font-size: 60px;
  letter-spacing: 22px;
}
h3 {
  font-size: 37px;
  letter-spacing: 26px;
}

p {
  margin-top: 10px;
  letter-spacing: 4px;
}

.gold-color {
  color: goldenrod;
  font-weight: bold;
}
