---
import "./main.css";
---

<div class="main-container">
  <div class="photo-profile"></div>
  <div class="description-profile">
    <h1>SOFTWARE</h1>
    <h3>DEVELOPER</h3>
    <p>
      I'm <span>Diego</span>, I'm focused on improving responsive graphical
      interfaces and providing solutions by understanding user behavior.
    </p>
  </div>
</div>
