---
import "./about.css";
---

<div class="about-container">
  <h4 id="about" class="about-title">ABOUT</h4>
  <p class="about-description">
    I am a software developer with experience as <b class="gold-color"
      >Front-End</b
    > Developer.
  </p>
  <p class="about-description">
    The technologies, i handle are <b class="react-color">React</b>, <b
      class="gold-color">JavaScript</b
    >, <b class="typescriot-color">TypeScript</b>
    , <b>Jest</b>, <b>Vite</b>, <b>Vitest</b>, <b>GraphQL</b>, <b
      class="color-nodejs">NodeJS</b
    >, and integration API consumption. These are popular technologies to build
    modern web applications.

    <p class="about-description">
      I am interested in learning new technologies such as <b>Astro</b> and <b
        >NextJS</b
      >, and I am committed to continuous learning and improving my skills.
    </p>
  </p>
</div>
