---
import "./index.css";
import Nav from "../components/nav/nav.astro";
import MainProfile from "../components/main/main.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dieghoatc</title>
  </head>
  <body>
    <div class="container">
      <header>
        <Nav />
      </header>
      <main>
        <section>
          <MainProfile />
        </section>
      </main>
    </div>
  </body>
</html>

<style>
  .container {
    max-width: 1536px;
  }
  main {
    display: flex;
    place-content: center;
  }
</style>
